body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex: auto;
  /* overflow: hidden; */
}

/* - - - login / sign up - - - */

.options {
  display: flex;
  position: absolute;
  flex: auto;
  z-index: 1;
  height: 100vh;
}

.bg-login,
.bg-register {
  flex: 1 1 auto;
  width: 50vw;
}
.bg-login {
  transition: all 1s;
  background-image: url(./media/images/backgrounds/gioele-fazzeri-dj_DVO6OeZA-unsplash.jpg);
  background-size: cover;
  background-position: left;
  box-shadow: inset -2em 0 3em black;
}
.bg-register {
  transition: 1s;
  background-image: url(./media/images/backgrounds/gioele-fazzeri-5ii9f7pMk40-unsplash.jpg);
  background-size: cover;
  background-position: right;
  box-shadow: inset 2em 0 3em black;
}



.login,
.register {
  flex: 1 1 auto;
  position: relative;
  width: 50vw;
  background-color: #111;
}



/*for testing*/

** {
  outline: 1px solid gray;
}