@font-face {
  font-family: Norse-Bold;
  src: url(./media/fonts/Norse-Bold.otf);
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main {
  display: flex;
  flex: auto;
}

/* - - - login / sign up - - - */

.login-signup {
  display: flex;
  justify-content: center;
  position: absolute;
  flex: auto;
  z-index: 1;
  height: 100vh;
  background-color: black;
}

/* logo */
.bg-logo {
  display: flex;
  z-index: 2;
  justify-content: center;
  position: absolute;
  margin-top: 5rem;
  height: 20vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .50);
}
.logo-and-text {
  display: flex;
  gap: 2rem;
  align-items: center;
  animation: reveal 1s;
}
.logo-and-text > p {
  color: #bbb;
  font-family: 'Norse-Bold', 'Courier New', Courier, monospace;
  font-size: 7rem;
}
.logo-and-text > img {
  position: sticky;
  height: 8rem;
  width: auto;
}

/* each side */
.bg-login,
.bg-signup {
  width: 50vw;
  transition: all ease-in-out 2s;
  animation: reveal 2s;
} .bg-login {
  background-image: url(./media/images/backgrounds/gioele-fazzeri-dj_DVO6OeZA-unsplash.jpg);
  background-size: cover;
  background-position: right;
  box-shadow: inset -2rem 0 3rem black;
} .bg-signup {
  background-image: url(./media/images/backgrounds/gioele-fazzeri-5ii9f7pMk40-unsplash.jpg);
  background-size: cover;
  background-position: left;
  box-shadow: inset 2rem 0 3rem black;
}
/*hiding side*/
.hide-side {
  width: 0;
}

/* buttons */
.buttons {
  display: flex;
  position: absolute;
  justify-content: space-around;
  transition: 1s;
  gap: 10rem;
  bottom: 0;
  z-index: 2;
  width: 100%;
  margin-bottom: 10rem;
  animation: raise 2s;
}

.buttons button {
  padding: 1rem 4rem;
  font-size: 2em;
  color: #bbb;
  background-color: #444;
  border: .25rem solid #777;
  border-radius: 3rem;
}.buttons button:hover {
  background-color: #555;
}



/* - - - forms - - - */

.login-menu,
.signup-menu {
  flex: 1 1 auto;
  position: relative;
  /* width: 50vw; */
  background-color: #111;
}



/* - - - keyframes - - - */

@keyframes raise {
  from {
    margin-bottom: 0rem;
    opacity: 0;
    filter: blur(2rem);
  }
  50% {
    filter: blur(0);
  }
  to {
    margin-bottom: 10rem;
  }
}

@keyframes reveal {
  from {
    filter: blur(2rem);
  }
  to {
    filter: blur(0);
  }
}



/*for testing*/

** {
  outline: 1px solid gray;
}