:root {
  --form-width: 70vw;
  --form-padding: 3rem;
  --form-padding-li: 1rem;
  --img-width: calc(100vw - var(--form-width));
}

@font-face {
  font-family: Norse-Bold;
  src: url(./media/fonts/Norse-Bold.otf);
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.main {
  display: flex;
  flex: auto;
  flex-direction: column;
}



/* - - - login / sign up - - - */

.login-signup {
  display: flex;
  justify-content: center;
  position: absolute;
  flex: auto;
  z-index: 1;
  height: 100vh;
  background-color: black;
}

/* logo */
.bg-logo {
  display: flex;
  flex: auto;
  z-index: 2;
  justify-content: center;
  position: absolute;
  margin-top: 5rem;
  height: 8rem;
  width: 100%;
  background-color: rgba(0, 0, 0, .50);
}
.logo-and-text {
  display: flex;
  gap: .5rem;
  align-items: center;
  animation: reveal 1s;
}
.logo-and-text > p {
  color: #bbb;
  font-family: 'Norse-Bold', 'Courier New', Courier, monospace;
  font-size: 6rem;
}
.logo-and-text > img {
  /* position: sticky; */
  height: 7rem;
  width: auto;
}

/* each side */
.bg-login,
.bg-signup {
  width: 50vw;
  transition: all ease-in-out 2s;
  animation: reveal 2s;
} .bg-login {
  background-image: url(./media/images/backgrounds/gioele-fazzeri-dj_DVO6OeZA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset -2rem 0 3rem black;
} .bg-signup {
  background-image: url(./media/images/backgrounds/gioele-fazzeri-5ii9f7pMk40-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 2rem 0 3rem black;
}
/*hiding side*/
.hide-side {
  width: 0;
}
.smaller-side {
  width: var(--img-width);
}

/* buttons */
.buttons {
  display: flex;
  position: absolute;
  justify-content: space-around;
  transition: 1s;
  gap: 10rem;
  bottom: 0;
  z-index: 2;
  width: 100%;
  margin-bottom: 10rem;
  animation: raise 2s;
}

.login,
.signup {
  padding: 1rem 4rem;
  font-size: 2em;
  color: #bbb;
  transition: all ease-in-out 100ms;
  border-radius: 3rem;
}
.login {
  background-color: transparent;
  border: none;
  text-decoration: underline #666;
}.login:hover,
.login:focus {
  color: white;
  text-decoration-color: #333;
}.login:active {
  text-shadow: 0 0 3rem white;
}
.signup {
  background-color: rgb(37, 70, 22);
  border: .25rem solid rgb(47, 49, 30);
}.signup:hover,
.signup:focus {
  background-color: rgb(49, 87, 34);
  border-color: rgb(102, 88, 57);
  box-shadow: 0 0 1rem black;
}.signup:active {
  background-color: rgb(70, 105, 41);
  border-color: rgb(129, 110, 70);
  box-shadow: 0 0 2rem white;
}

/*credits*/
.bg-credits {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .50);
  margin-bottom: 1rem;
}.bg-credits p {
  color: #bbb;
  text-align: center;
  vertical-align: middle;
  margin: .3rem;
  font-family: 'Norse-Bold', 'Courier New', Courier, monospace;
}.bg-credits a:visited {
  color: #888;
  text-decoration: underline #555;
}.bg-credits a:link {
  color: #888;
}


/* - - - forms - - - */

.form { /* divs */
  flex: 1 1 auto;
  position: absolute;
  width: var(--form-width);
  height: 100vh;
  background-color: #111;
  overflow-y: auto;
}
.menu-signup {
  right: 0;
}
.bg-form-color {
  background-color: #333;
  padding-bottom: 1em;
}

/* text */
.form p {
  color: #bbb;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1.5em;
}
.form > p {
  margin: 1rem var(--form-padding);
} .form > p span {
  font-style: italic;
} .form > p:last-of-type {
  padding-bottom: 2em;
}

form p {
  padding: .1rem var(--form-padding);
  margin-left: 0;
}

/*width*/
form {
  max-width: 1000px;
}
.form > p {
  max-width: calc(1000px - var(--form-padding) * 2);
}

/* fields */
ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;
  padding: .1rem var(--form-padding);
  color: #ccc;
}
li {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  width: calc(50% - var(--form-padding-li) );
  max-width: 300px;
  height: 5rem;
  padding: var(--form-padding-li);
  padding-left: 0;
}
label,
input,
input + span {
  font-size: 1.25em;
}
input::placeholder {
  font-size: .9em;
  color: #777;
}

input + span {
  background-color: #444;
  border-radius: 0 0 .25em .25em;
  padding: .5em;
}
input + span::after {
  content: "temporal error message";
}



/* - - - general use - - - */

.hidden {
  display: none;
}

/* keyframes */
@keyframes raise {
  from {
    margin-bottom: 0rem;
    opacity: 0;
    filter: blur(2rem);
  }
  50% {
    filter: blur(0);
  }
  to {
    margin-bottom: 10rem;
  }
}

@keyframes reveal {
  from {
    filter: blur(2rem);
  }
  to {
    filter: blur(0);
  }
}



/*for testing*/

** {
  outline: 1px solid gray;
}